/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --block-background: hsl(0, 0%, 94%);
  --output-background: hsl(0, 0%, 98%);
  --small: 14px;
  --normal: 19px;
  --text-color: #333;
  --blue: #264C6F;
}

/*FAD8F3  717C89  736CED*/

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
  font-family: Raleway, Arial, sans-serif;
  font-size: 1em;
  color: var(--text-color);
  scroll-behavior: smooth;
}
/* ==================================================================
    PAGE LAYOUT
================================================================== */
.page-wrapper {
    max-width: 72em;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 52em 15em;
    gap: 0 5em;
}

@media(max-width: 1280px) {
    .page-wrapper {
        gap: 0;
        grid-template-columns: auto;
        margin: 0 6%;
    }
}


/* ==================================================================
    BASIC CONTENT STYLING
================================================================== */

.franklin-content .row {
  display: block;
}

.franklin-content .container {
  display: grid;
  grid-template-columns: 55% auto;
  gap: 0.2em 0em;
  margin: 1em 0;
}

@media(max-width: 550px) {
    .franklin-content .container {
        display: block;
    }
}

.title-content-main {
    position: relative;
    max-width: 40em;
    padding: 2em 4em;
    background-color: black;
    border: #333333 solid 1px;
    border-top: aliceblue solid 25px;
    margin: auto;
    top: 25%;
}

.title-content-wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 3em;
    align-items: center;   
    margin: auto;
}

@media(max-width: 43em) {
    .title-content-main {
        max-width: fit-content;
        padding: 1em 7vw 2em 10vw;
    }

    .title-content-wrapper {
        grid-template-columns: auto;
        max-width: max-content;
        margin: auto;
    }
}

.title-image{
  max-width: 100%;
  height: calc(100vh - 77.39px);
  background-color: black;
  background-image: url("../assets/img/title_img.jpg");
  background-size: cover;
  background-position: center center;
  background-position-y: -50px;
}

.title-image img {
    max-width: 15em;
}

@media(max-width: 1280px) {
    .title-image {
        background-position-x: 85%;
        height: calc(100vh + 77.39px);
    }
}

.title-close-button {
    position: absolute;
    width: 18px;
    height: 18px;
    background: none;
    top: -22px;
    right: 10px;
    border-radius: 50%;
}

.title-close-button-elem {
    height: 4px;
    width: 100%;
    background-color: crimson;
    position: absolute;
    left: 0%;
    transition: 0.3s;
}

.title-close-button .elem1 {
    transform: translateY(7.5px) rotate(45deg);
}

.title-close-button .elem2 {
    transform: translateY(7.5px) rotate(-45deg);
}

.title-close-button:hover .title-close-button-elem {
    background-color: #fa3c3c;
    cursor: pointer;
}

.title-min-button {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -23px;
    right: 76px;
    border-bottom: var(--text-color) solid 3px; 
    transition: 0.3s;
}

.title-min-button a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.title-min-button:hover {
    border-color: dimgray;
    cursor: pointer;
}


.title-max-button {
    width: 10px;
    height: 6px;
    position: absolute;
    top: -20px;
    right: 43px;
    border: var(--text-color) solid 3px; 
    border-top: var(--text-color) solid 5px;
    transition: 0.3s;

}

.title-max-button:hover {
    border-color: dimgray;
    cursor: pointer;  
}

.title-text {
    color: white;
    text-align: start;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 0.6em;
}

.title-text::before {
    content: ">";
    position: absolute;
    transform: translateX(-35px);
}

.title-text::after {
    content: " |";
    font-weight: bolder;
    animation-name: cursor-fade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@keyframes cursor-fade {
    0% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

.window-fade {
    transform-origin: bottom;
    animation: window-close 0.2s 1;
    opacity: 0;
}

@keyframes window-close {
    0% {opacity: 100%; display: block; transform-origin: bottom;}
    100% {opacity: 0%; display: block; transform: scaleY(0.85) scaleX(0.95);}
    
}

@media(max-width: 43em) {
    .title-text {
        font-size: 5vw;
    }
    .title-text::before {
        transform: translateX(-5vw);
    }
}


.title-arrow {
    width: 2.5em;
}

.title-arrow-container {
    position: absolute;
    bottom: 3%;
    left: calc(50% - 35px);
    animation-duration: 1.7s;
    animation-iteration-count: infinite;

}

.title-arrow-container:hover {
    animation-timing-function: linear;
    animation-name: bounce;

}
@keyframes bounce{
    10% {transform: translateY(0.09em);}
    20% {transform: translateY(0.14em);}
    25% {transform: translateY(0.15em); }
    30% {transform: translateY(0.14em);}
    40% {transform: translateY(0.09em);}
    60% {transform: translateY(-0.09em);}
    70% {transform: translateY(-0.14em);}
    75% {transform: translateY(-0.15em); }
    80% {transform: translateY(-0.14em);}
    90% {transform: translateY(-0.09em);}
}


.franklin-content .left {
  padding: 2em 2em 2em 33%;
  text-align: right;
  grid-column: 1 / span 1;
  background-color: #e09a19;
  color: white;
}

.franklin-content .right {
  padding: 2em 33% 2em 2em;
  grid-column: 3 / span 1;
  background-color: #6ad15c;
  color: white;

}

.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

.franklin-content .date {
    margin-bottom: 0.4em;
    margin-top: -1em;
    display: block;
    width: fit-content;
    display: inline-block;
    font-weight: 600;
}

.franklin-content .thesis-link {
    margin-top: -1em;
    display: inline-block;
}

/*.franklin-content img {
    width: 100%;
}
*/

.franklin-content .centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
        border: #264C6F 10px solid;
        transition: 0.3s;
    
}

.franklin-content .centered a img:hover {
    cursor: pointer;
    border: #264C6F 1em solid;
    transition: 0.3s;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.page-foot a {
  text-decoration: none;
  color: white;
}

.page-foot {
  width: 100%;
  font-size: 80%;
  color: lightgrey;
  margin-top: 4em;
  padding-top: 4em;
  padding-bottom: 1.5em;
  background-color: #1e1e1e;
}


.page-foot-links{
    margin: 0.2em;
}

@media(min-width: 830px) {
    .page-foot-grid-container {
        width: 70%;
        margin: auto;
        display: flex;
        grid-template-columns: auto auto;
        justify-content: center;
    }
}

@media(max-width: 830px) {
    .page-foot-grid-container {
        width: 70%;
        margin: auto;
        display: flex;
        grid-template-columns: auto auto auto;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border: none;
    }
}

@media(min-width: 830px) {
    .page-foot-grid-container ul {
        list-style-type: none;
        border-style: solid none solid none;
        border-width: 2px;
        padding: 0;
        margin: 0;
        list-style-position: inside;

    }
}

@media(max-width: 830px) {
    .page-foot-grid-container ul {
        list-style-type: none;
        border-style: solid none solid none;
        border-width: 2px;
        padding: 0;
        margin: 1.2em;
        list-style-position: inside;
    }
}

.page-foot-item-inner {
    width:auto;
    grid-column-gap: 2em;
}

@media(min-width: 830px) {
    .page-foot-image-wrap{
        height: 120px;
        margin: 6px;
    }
}

@media(max-width: 830px) {
    .page-foot-image-wrap{
        height: 100px;
        margin:1.2em;
    }
}

.page-foot-grid-container img {
    height: 100%;
    object-fit: contain;
    padding-left: 0 !important ;
    display: block;
    margin: auto;
}

.copyright {
  padding-top: 3.5em;
  text-align: center;
  font-size: 80%;
}


/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-toc li {
  /* Avoid clickable elements being too close together. */
  margin: 0.6rem 0;
}

.franklin-content {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

/* On wide screens, fix content width to a max value. */
@media (min-width: 480px) {
  .franklin-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
    .franklin-content p {
     margin-top: 0.3em;
     margin-bottom: 2h1em;
    }
}

@media (max-width: 1200px) {
    .franklin-content p {
     margin-top: 1em;
     margin-bottom: 2em;
    }
}

.center-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: 10px 0;
}

.franklin-content a {
  text-decoration: none;
  color: var(--textcolor);
  background: lightgray;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.franklin-content a:hover {
  background: darkgray;
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content .text-image {
    max-height: fit-content;
    max-width: 100%;
    display: flex;
}

@media(max-width: 550px) {
    .franklin-content .text-image {
        margin-bottom: 1em;
        flex-direction: column;
    }
}

.franklin-content .text-image img {
    height: inherit;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    padding: 0;
    border-radius: 6em 0em 6em 0em;
    transform: scale(0.9);
}

.franklin-content .about-text {
    margin: 0 30% 0 1em;
    align-self: center;
}

.franklin-content .color-strip-green {
    width: 2em;
    height: inherit;
    background-color: var(--blue);
    margin-right: -4em;
}

.franklin-content .color-strip-blue {
    width: 2em;
    height: inherit;
    background-color: var(--blue);
    margin-right: -4em;
}

.franklin-content .color-strip-orange {
    width: 2em;
    height: inherit;
    background-color: var(--blue);
    margin-right: -4em;
}

@media(max-width: 550px) {
    .franklin-content .color-strip-green {
        height: 2em;
        width: inherit;
        background-color: var(--blue);
        margin: 0 0 -2em 0;
    }

    .franklin-content .color-strip-blue {
        height: 2em;
        width: inherit;
        background-color: var(--blue);
        margin: 0 0 -2em 0;
    }

    .franklin-content .color-strip-orange {
        height: 2em;
        width: inherit;
        background-color: var(--blue);
        margin: 0 0 -2em 0;
    }

}

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; margin: 0;}

.katex { font-size: 1em !important; }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: var(--block-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

/* .franklin-content code { */

/* background-color: rgba(27,31,35,0.05); */

/* padding: 0.1em 0.2em; */

/* border-radius: 2px; */

/* font-size: 90%; } */

.hljs {
  font-size: var(--small);
  line-height: 1.35em;
  border-radius: 10px;
}

.hljs-meta,
.hljs-metas,
.hljs-metap { font-weight: bold; }

.hljs-meta { color: rgb(25, 179, 51); }

.hljs-metas { color: red; }

.hljs-metap { color: rgb(51, 131, 231); }

.code-output {
  background: var(--output-background);
  border: 1px dashed #dbdbdb;
}

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
  background-color: #eef3f5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #4c9cf1;
}

/* ==================================================================
TEAMCARDS
================================================================== */

.teamcard-wrapper {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100%;
    margin-bottom: 2em;
}

.teamcard-image {
    max-width: 220px;
    max-height: 220px;
    position: relative;
    display: grid;
}

.teamcard-image img {
    border: 2px solid #386F87;
    border-radius: 5em 0;
    width: 100%;
    height: 100%;
    grid-column: 1 / 9;
    grid-row: 1 / 9;
    transform: scale(0.8);
    z-index: 10;
}

.circle-1
{
    border-radius: 100%;
    border: 25px solid var(--blue);
    z-index: 5;
    grid-column: cstart-1 / span cend-1;
    grid-row: rstart-1 / span rend-1;
}

.circle-2 
{
    border-radius: 100%;
    border: 20px solid var(--blue);
    z-index: 5;
    grid-column: cstart-2 / span cend-2;
    grid-row: rstart-2 / span rend-2;
}

.circle-3 
{
    border-radius: 100%;
    border: 20px solid var(--blue);
    background-color: var(--blue);
    z-index: 5;
    grid-column: cstart-3 / span cend-3;
    grid-row: rstart-3 / span rend-3;
}

.img-var-1
{
    grid-template-columns: [cstart-1] 1fr [cstart-3] 1fr 1fr [cstart-2] 1fr [cend-3]  1fr [cend-1] 1fr 1fr [cend-2];
    grid-template-rows: [rstart-1] 1fr 1fr [rstart-2] 1fr 1fr [rstart-3] 1fr [rend-1] 1fr [rend-2] 1fr [rend-3];
    
}

.img-var-2
{
    grid-template-columns: [cstart-3] 1fr [cstart-1] 1fr 1fr [cstart-2] 1fr [cend-3] 1fr 1fr [cend-1] 1fr [cend-2];
    grid-template-rows: [rstart-1] 1fr 1fr [rstart-3] 1fr [rstart-2] 1fr 1fr [rend-1] 1fr [rend-3] 1fr [rend-2];
}

.img-var-3
{
    grid-template-columns: [cstart-2] 1fr [cstart-3] 1fr [cstart-1] 1fr [cend-2] 1fr 1fr [cend-3] 1fr 1fr [cend-1];
    grid-template-rows: [rstart-3] 1fr 1fr [rstart-1] 1fr [rstart-2] 1fr [rend-3] 1fr 1fr [rend-2] 1fr [rend-1];
}

.teamcard-text {
    margin-top: 1em;
}

.teamcard-header {
    padding-top: 1em;
}

.teamcard-link {
    margin-top: 0.5em;
}

.teamcard-position {
    font-weight: 600;
}


@media(max-width: 43em) {
    .teamcard-wrapper {
        width: 80%;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        padding: 2em 1em 0em 1em;
        background-color: #EEEEEE;
    }

    .teamcard-image {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .teamcard-color-strip {
        height: 2em;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 0;
    }

    .teamcard-header div {
        padding-bottom: 0 !important;
    }

    .teamcard-header {
        padding-top: 0;
    }

    .teamcard-wrapper div {
        padding-bottom: 1em;
    }
}

/* ==================================================================
    TITLES AND TABLES
================================================================== */

h1 { font-size: 2.5em; margin: 1em 0 0.5em 0;}
h2 { font-size: 1.5em; margin: 0;}
h3 { margin: 0}
h4 { margin: 0}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  margin: 0 0 0.3em 0;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
    text-decoration: none !important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    color: var(--textcolor) !important;
    text-decoration: none !important;
    background: none !important;
}

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-top: 0.7em;
  margin: 0.7em auto 2em auto;
}

.franklin-content .doi-table table {
  width: 100%;
}

.franklin-content .doi-table th {
  width: 25%
}

.franklin-toc ol ol {
  list-style-type: lower-alpha;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  width: 60%;
}

.franklin-content blockquote {
  background: var(--block-background);
  border-left: 7px solid #a8a8a8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

.franklin-content blockquote p {
  display: inline;
}

.franklin-content .impressum-table-element{
    border: 0;
    vertical-align: top;
    padding: 0.5em 6em 1em 0

}

.franklin-content .impressum-table {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: auto auto;
}

@media(max-width: 550px) {
    .franklin-content .impressum-table{
        grid-template-columns: auto;
    }

    .franklin-content .impressum-table-element{
        padding: 0.5em 0em 1em 0
    }

    .franklin-content th,
    td {
        width: auto;
        word-break: break-word;
    }
}

/* ==================================================================
    TOC PAGES
================================================================== */

.franklin-content .toc-wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: 10em 10em 10em;
    grid-auto-rows: 10em;
    margin: 3em auto 0 auto;
    padding: 0 1em;
    gap: 5em 8em;
}

.franklin-content .toc-wrapper a {
    background-color: white;
    padding: 0;
}

.franklin-content .toc-wrapper a:hover {
    background-color: white;
    padding: 0;
}

.toc-titles {
    padding-bottom: 10px;
    text-align: center;
}

.franklin-content .toc-item a {
    padding: 0;
    margin: 0;
    background: none;
}

.franklin-content .toc-item p {
    margin: 0;
}

.franklin-content .toc-item img {
    position: absolute;
    transition: 0.2s;
    transform: translateX(-15em);
    height: 100%;
    object-fit: cover;
}

.franklin-content .toc-item {
    min-height: 8em;
    border-left: solid 5px #56a4a8;
    margin-left: -5px;
    padding: 0.2em 0.5em 0 0.5em;
    transition: 0.2s;
    overflow-wrap: break-word;
    overflow: hidden;
    position: relative;
}

.franklin-content .toc-item:hover img {
    transform: translateX(0em);
    transition: 0.2s;
    object-fit: cover;
    object-position: center;
    
}

.franklin-content .toc-item:hover {
    border-left: solid 12px #CBFCFF;
    margin-left: -12px;
}

@media(max-width: 850px) {
    .franklin-content .toc-wrapper {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .franklin-content .toc-item {
        flex-basis: 10em;
    }
}

/* ==================================================================
    THESIS ART
================================================================== */

.thesis-art {
    border: #264C6F 10px solid;
    transition: 0.3s;
}

.thesis-art img{
    width: 100%;
}

.thesis-art:hover {
    cursor: pointer;
    border: #264C6F 3em solid;
    transition: 0.3s;
}

.thesis-art:hover img {
    opacity: 60%;
    transition: 0.3s;
}

.thesis-art-modal {
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 25;
    top: 0;
    left: 0;
    position: fixed;
    background: #000000cc;
}

.thesis-art-modal img {
    height: 90vh;
    width: auto;
    display: block;
    margin: 5vh auto;
}

.thesis-art-modal-invis {
    display: block !important;
}
